.stage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100%;
  font-family: "Share Tech Mono", monospace;
}

.stage--block__black {
  background-color: #1b1b1b;
  text-align: right;
  color: #fff;
}

.stage--block__white {
  color: #1b1b1b;
}

.stage--block {
  padding: 10px;
}

.hero__black {
  text-shadow: -1px -1px 0 #666;
}

.hero__white {
  text-shadow: 1px 1px 0 #c3c3c3;
}
